name: Build chimplink

on:
  workflow_dispatch:
  workflow_call:
  push:
    branches: ["main"]
  pull_request:

jobs:
  build:
    name: Build chimplink
    runs-on: ubuntu-slim

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up cosmocc
        uses: bjia56/setup-cosmocc@v0.0.6
        with:
          version: 4.0.2

      - name: Set up zig
        uses: mlugg/setup-zig@v1
        with:
          version: 0.14.0

      - name: Install upx
        run: |
          sudo apt-get update
          sudo apt-get install -y upx-ucl

      - name: Build
        run: |
          cosmoc++ -o chimplink chimplink.cpp

          for arch in x86 powerpc64le riscv64 s390x loongarch64; do
            zig c++ -target ${arch}-linux-musl -s -o chimplink.${arch}-linux chimplink.cpp
          done

          for arch in x86 powerpc64le; do
            upx --best chimplink.${arch}-linux
          done

      - name: Apelink
        run: |
          cosmo_bin=$(dirname $(which cosmocc))
          apelink \
            -s \
            -S "V=${{ github.sha }}" \
            -l ${cosmo_bin}/ape-x86_64.elf \
            -M ${cosmo_bin}/ape-m1.c \
            -o chimplink.exe \
            chimplink.com.dbg \
            chimplink.aarch64.elf

      - name: Download Blink
        run: |
          blinkverse=v12
          wget -q https://github.com/bjia56/blinkverse/releases/download/${blinkverse}/blink-tiny-linux-armv7l-stripped
          wget -q https://github.com/bjia56/blinkverse/releases/download/${blinkverse}/blink-tiny-netbsd10.0-aarch64-stripped
          wget -q https://github.com/bjia56/blinkverse/releases/download/${blinkverse}/blink-tiny-openbsd7.6-x86_64-stripped
          wget -q https://github.com/bjia56/blinkverse/releases/download/${blinkverse}/blink-tiny-openbsd7.6-aarch64-stripped
          wget -q https://github.com/bjia56/blinkverse/releases/download/${blinkverse}/blink-tiny-solaris11.4-x86_64-stripped
          wget -q https://github.com/bjia56/blinkverse/releases/download/${blinkverse}/blink-tiny-dragonflybsd6.4.0-x86_64-stripped
          wget -q https://github.com/bjia56/blinkverse/releases/download/${blinkverse}/blink-tiny-midnightbsd3.2.3-x86_64-stripped
          wget -q https://github.com/bjia56/blinkverse/releases/download/${blinkverse}/blink-tiny-haikur1beta5-x86_64-stripped
          wget -q https://github.com/bjia56/blinkverse/releases/download/${blinkverse}/blink-tiny-aix7.2-powerpc-stripped
          wget -q https://github.com/bjia56/blinkverse/releases/download/${blinkverse}/blink-tiny-macos10.4-powerpc-stripped
          wget -q https://github.com/bjia56/blinkverse/releases/download/${blinkverse}/blink-tiny-hurd-x86_64-stripped

      - name: Self-link
        run: |
          cosmo_bin=$(dirname $(which cosmocc))
          sha256=$(sha256sum chimplink.exe | cut -d' ' -f1)
          ./chimplink.exe chimplink.exe chimplink ${{ github.sha }} --sha256 $sha256 \
            ${cosmo_bin}/ape-x86_64.elf \
            ${cosmo_bin}/ape-aarch64.elf \
            --os Linux blink-tiny-linux* --native $(for f in chimplink.*-linux; do echo -n "$f --sha256 $(sha256sum $f | cut -d' ' -f1) "; done) \
            --os NetBSD blink-tiny-netbsd* \
            --os OpenBSD blink-tiny-openbsd* \
            --os DragonFly blink-tiny-dragonflybsd* \
            --os MidnightBSD blink-tiny-midnightbsd* \
            --os Solaris blink-tiny-solaris* \
            --os AIX blink-tiny-aix* \
            --os Haiku blink-tiny-haiku* \
            --os Darwin blink-tiny-macos10.4-powerpc* \
            --os GNU blink-tiny-hurd-x86_64*

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: chimplink
          path: chimplink
